.courseReg-container {
  margin-top: 60px; /* Adjust based on navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.courseReg-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%; /* Adjust based on preference */
  max-width: 600px; /* Adjust based on preference */
}

.courseReg-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courseReg-input, .courseReg-button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.courseReg-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.courseReg-button:hover {
  background-color: #0056b3;
}

.courseReg-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%; /* Adjust based on preference */
}

.courseReg-table-header, .courseReg-table-data {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.courseReg-thead {
  background-color: #f2f2f2;
}

.courseReg-table tr:nth-child(even) {
  background-color: #f9f9f9;
}