.StudentGradesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem auto;
  padding: 20px;
}

.student-grades-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%; /* Adjust based on preference */
}

.student-grades-table th,
.student-grades-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  padding-right: 40px;
  padding-left: 30px;
}

.student-grades-table th {
  background-color: #c3b7d8;
}

.cgpa-row td {
  font-weight: bold;
  text-align: center;
}