*{
    padding: 0px;
    margin: 0px;
}
.studentHeader{
    background-color: #d3dbe7;
    line-height: 70px;
    padding-left: 20px;
}
.studentLink{
    float: right;
    padding-right: 20px;
    font-size: 20px;
    border: 10px;
    border-radius: 2px;
    border-color: hsl(210, 90%, 70%);
}
.SpanforStudent{
    font-size: 22px;
    padding-left: 20px;

}

.studentHeader a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.studentLink a{
    text-decoration: none;
    color: black;
    font-size: 22px;

}
.studentHeader a:hover{
    color: rgb(56, 54, 215);
}
.StudentasideBar ul{
    background-color: hsl(195, 53%, 79%);
    width: 16%;
    min-width: 12%;
    height: 100%;
    position: fixed;
    padding-top: 3%;
    text-align: center;
}
.StudentasideBar ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 18px;
    padding: 20px;
}

.StudentasideBar ul li a {
    text-decoration: none;
    color: rgb(60, 54, 54);
    
}
.StudentasideBar ul li a:hover{
    color: rgb(56, 54, 215);
}

   