*{
    padding: 0px;
    margin: 0px;
}
.TeacherHeader{
    background-color: #d3dbe7;
    line-height: 70px;
    padding-left: 20px;
}
.TeacherLink{
    float: right;
    padding-right: 20px;
    /* line-height: 70px; */
    font-size: 20px;
    border: 10px;
    border-radius: 2px;
    border-color: hsl(210, 90%, 70%);
    /* background-color: hsl(210, 90%, 70%); */
}

.TeacherHeader a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.TeacherLink a{
    text-decoration: none;
    color: black;
    font-size: 22px;

}
.TeacherHeader a:hover{
    color: rgb(56, 54, 215);
}
.TeacherasideBar ul{
    background-color: hsl(195, 53%, 79%);
    width: 16%;
    min-width: 12%;
    height: 100%;
    position: fixed;
    padding-top: 3%;
    text-align: center;
}
.TeacherasideBar ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 18px;
    padding: 20px;
}

.TeacherasideBar ul li a {
    text-decoration: none;
    color: rgb(60, 54, 54);
    
}
.TeacherasideBar ul li a:hover{
    color: rgb(56, 54, 215);
}